/* Start Variables */
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  position: relative;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Mobile */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* End Global Rules */
/* Start Components */
.main-paragraph {
  color: var(--dark-gray);
  line-height: 1.8;
}
/* End Components */
/* Start Header */
header {
  color: var(--white);
  padding: 50px;
  position: absolute;
  z-index: 999;
}
@media (max-width: 1199px) {
  header {
    width: 100%;
  }
}
@media (max-width: 575px) {
  header {
    padding: 50px 15px;
  }
  header.bg-white {
    background-color: var(--white);
    position: relative;
  }
  header.bg-white .container {
    justify-content: flex-end;
  }
}
header .container {
  display: flex;
  align-items: center;
  position: relative;
}
header .logo {
  margin-right: 40px;
}
@media (max-width: 575px) {
  header .logo {
    margin: auto;
  }
  header.bg-white .logo {
    display: none;
  }
}
header .logo img {
  display: block;
}
header nav .toggle-menu,
header nav .close {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: none;
}
@media (max-width: 575px) {
  header nav .toggle-menu.active,
  header nav .close.active {
    display: block;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 575px) {
  header nav ul {
    display: none;
  }
  header.bg-white nav ul.visible {
    display: flex;
  }
}
header nav ul li {
  margin-right: 30px;
  text-transform: lowercase;
  position: relative;
}
header.bg-white nav ul li {
  margin-right: 0;
  margin-left: 30px;
}
header nav ul li.active::after,
header nav ul li:hover::after {
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background-color: var(--white);
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 575px) {
  header.bg-white nav ul li.active::after,
  header.bg-white nav ul li:hover::after {
    background-color: var(--black);
  }
}
header nav ul li a {
  color: var(--white);
}
@media (max-width: 575px) {
  header.bg-white nav ul li a {
    color: var(--black);
    font-weight: 700;
  }
}
/* End Header */
/* Start Slider */
.slider {
  display: flex;
}
@media (max-width: 1199px) {
  .slider {
    flex-direction: column;
  }
}
.slider .slides-viewer {
  width: 60%;
  position: relative;
}
@media (max-width: 1199px) {
  .slider .slides-viewer {
    width: 100%;
  }
}
.slider .slides-viewer .slide-img {
  width: 100%;
  min-height: 80vh;
  position: relative;
}
@media (max-width: 575px) {
  .slider .slides-viewer .slide-img {
    min-height: 50vh;
  }
}
.slider .slides-viewer .slide-img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.slider .slides-viewer .slide-img img.active {
  opacity: 1;
  z-index: 1;
}
.slider .slides-viewer .controls {
  display: flex;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: -136px;
  z-index: 2;
}
@media (max-width: 1199px) {
  .slider .slides-viewer .controls {
    right: 0;
  }
}
.slider .slides-viewer .controls button {
  background-color: var(--black);
  padding: 25px 27px;
  border: none;
  cursor: pointer;
}
@media (max-width: 575px) {
  .slider .slides-viewer .controls button {
    padding: 20px 25px;
  }
}
.slider .slides-viewer .controls button img {
  display: block;
}
.slider .slides-viewer .controls button:hover,
.slider .slides-viewer .controls button.active {
  background-color: var(--very-dark-gray);
}
.slider .slides-content {
  width: 40%;
  min-height: 18rem;
  padding: 70px 50px 0;
}
@media (max-width: 1199px) {
  .slider .slides-content {
    width: 100%;
    padding: 50px 15px 0;
  }
}
@media (max-width: 575px) {
  .slider .slides-content {
    min-height: 20rem;
  }
}
.slider .slides-content .container {
  position: relative;
}
.slider .slides-content .slide {
  width: 100%;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.slider .slides-content .slide.active {
  opacity: 1;
  z-index: 1;
}
.slider .slides-content .slide h2 {
  font-size: 32px;
}
@media (min-width: 1439px) {
  .slider .slides-content .slide h2 {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  .slider .slides-content .slide h2 {
    font-size: 28px;
  }
}
.slider .slides-content .slide p {
  margin: 30px 0;
}
.slider .slides-content .slide a {
  color: var(--black);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 11px;
}
.slider .slides-content .slide a:hover {
  color: var(--dark-gray);
}
.slider .slides-content .slide a img {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(16deg) brightness(96%)
    contrast(103%);
  -webkit-filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(16deg)
    brightness(96%) contrast(103%);
  margin-left: 10px;
}
.slider .slides-content .slide a:hover img {
  filter: invert(67%) sepia(5%) saturate(4%) hue-rotate(354deg) brightness(95%)
    contrast(88%);
  -webkit-filter: invert(67%) sepia(5%) saturate(4%) hue-rotate(354deg)
    brightness(95%) contrast(88%);
}
/* End Slider */
/* Start Overlay */
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
@media (max-width: 575px) {
  header.bg-white + .overlay {
    display: block;
  }
}
/* End Overlay */
/* Start About */
.about {
  display: flex;
  min-height: 20vh;
}
@media (max-width: 1199px) {
  .about {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 767px) {
  .about {
    padding-top: 70px;
  }
}
.about .image {
  flex: 1;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .about .image {
    width: 100%;
  }
}
.about .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.about .about-info {
  flex: 1;
  padding: 50px;
}
@media (max-width: 1199px) {
  .about .about-info {
    padding: 50px 15px;
  }
}
@media (min-width: 992px) {
  .about .about-info {
    min-width: 420px;
  }
}
.about .about-info h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-size: 13px;
}
/* End About */
.attribution {
  background-color: var(--black);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 11px;
}
.attribution a {
  color: #00c7e0;
}
.attribution a:hover {
  opacity: 0.6;
}
